<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">{{emoji.name}}</h5>
    <div class="text-center">
      <img src="{{emoji.image}}" class="rounded" alt="...">
    </div>
    <dev [ngSwitch]="type">
      <button *ngSwitchCase="'all'" type="button" (click)="setWhiteList(emoji)" [ngClass]="{
      'btn-primary': !whiteList.includes(emoji.name),
      'btn-danger': whiteList.includes(emoji.name)
      }" class="btn" >Избр</button>
      <button *ngSwitchCase="'all'" type="button" (click)="setBlackList(emoji)" class="btn btn-primary">Удалить</button>
      <button *ngSwitchCase="'favourite'" type="button" class="btn btn-warning">Удалить</button>
      <button *ngSwitchCase="'deleted'" type="button" class="btn btn-danger">Восстановить</button>
    </dev>
  </div>
</div>
